{% extends 'base.html' %}



{% block content %}
<div class="flex justify-center mt-4 space-x-4">
    <a href="/games" class="border-solid border-2 rounded-lg p-3 border-gray-900 hover:shadow-lg hover:text-zinc-200 hover:bg-gray-900 hover:duration-200 hover:border-blue-800 bg-blue-800 text-xl flex justify-center border-2">Games</a>
    <a href="/memes" class="border-solid border-2 rounded-lg p-3 border-gray-900 hover:shadow-lg hover:text-zinc-200 hover:bg-gray-900 hover:duration-200 hover:border-blue-800 bg-blue-800 text-xl flex justify-center border-2">Memes</a>
</div>
{% endblock %}